Repository LF-Decentralized-Trust/governance, changes with the labels that .github/labeler.yml gives for each.
All labels: meeting-minutes, annual-report, quarterly-report

.github/labeler.yml:

---
meeting-minutes:
  - changed-files:
      - any-glob-to-any-file:
          - tac/meeting-minutes/**/*

annual-report:
  - changed-files:
      - any-glob-to-any-file:
          - tac/project-updates/**/*annual*.md

quarterly-report:
  - changed-files:
      - any-glob-to-any-file:
          - tac/project-updates/**/*q2*.md
          - tac/project-updates/**/*q3*.md
          - tac/project-updates/**/*q4*.md
          - tac/project-updates/**/*Q2*.md
          - tac/project-updates/**/*Q3*.md
          - tac/project-updates/**/*Q4*.md

Attendees
  tac/meeting-minutes/2025/2025-06-05.md
Labels: meeting-minutes

add 2025 Q2 Solang report
  tac/project-updates/2025/2025-Q2-Hyperledger-Solang.md
Labels: quarterly-report

docs: minor edits to Cacti 2025 Q2 report
  tac/project-updates/2025/2025-Q2-Cacti.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-Q2-Cacti.md
  tac/project-updates/2025/2025-Q2-Cacti.md
Labels: quarterly-report

docs: add Cacti 2025 Q2 report
  tac/project-updates/2025/2025-Q2-Cacti.md
Labels: quarterly-report

docs: fixed release date
  tac/project-updates/2025/2025-Q2-Cacti.md
Labels: quarterly-report

docs: fixed formatting in 2025 Q2 Cacti report
  tac/project-updates/2025/2025-Q2-Cacti.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-Q2-Web3j.md
  tac/project-updates/2025/2025-Q2-Web3j.md
Labels: quarterly-report

Initial agenda for June 19
  tac/meeting-minutes/2025/2025-06-19.md
Labels: meeting-minutes

Rename file and organize
  tac/governing-documents/defining-adopters.md
Labels: none

Formatting and front matter
  tac/governing-documents/defining-adopters.md
Labels: none

Add link to the defining-adopters.md file
  tac/governing-documents/repository-structure.md
Labels: none

Update tac/project-updates/2025/2025-Q2-Hiero.md
  tac/project-updates/2025/2025-Q2-Hiero.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-Q2-Hiero.md
  tac/project-updates/2025/2025-Q2-Hiero.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-Q2-Hiero.md
  tac/project-updates/2025/2025-Q2-Hiero.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-Q2-Hiero.md
  tac/project-updates/2025/2025-Q2-Hiero.md
Labels: quarterly-report

Update 2025-Q2-Hiero.md
  tac/project-updates/2025/2025-Q2-Hiero.md
Labels: quarterly-report

Cancel 2025-06-19 meeting
  tac/meeting-minutes/2025/2025-06-26.md
Labels: meeting-minutes

Update 2025-Q2-Hiero.md, add additional future plans
  tac/project-updates/2025/2025-Q2-Hiero.md
Labels: quarterly-report

Update pointer
  tac/meeting-minutes/2025/2025-06-26.md
Labels: meeting-minutes

Update as per TAC recommendations
  tac/project-updates/2025/2025-annual-CREDEBL.md
Labels: annual-report

Create 2025-Q2-Web3j.md
  tac/project-updates/2025/2025-Q2-Web3j.md
Labels: quarterly-report

fix comments
  tac/project-updates/2025/2025-Q2-Web3j.md
Labels: quarterly-report

Update 2025-Q2-Web3j.md
  tac/project-updates/2025/2025-Q2-Web3j.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-Q2-Web3j.md
  tac/project-updates/2025/2025-Q2-Web3j.md
Labels: quarterly-report

CREDEBL Annual TAC Report 2025
  tac/project-updates/2025/2025-annual-CREDEBL.md
Labels: annual-report

Update as per TAC recommendations
  tac/project-updates/2025/2025-annual-CREDEBL.md
Labels: annual-report

Add vote and attendees
  tac/meeting-minutes/2025/2025-06-26.md
Labels: meeting-minutes

Initial agenda for June 19
  tac/meeting-minutes/2025/2025-06-19.md
Labels: meeting-minutes

Add vote and attendees
  tac/meeting-minutes/2025/2025-06-26.md
Labels: meeting-minutes

Update pointer
  tac/meeting-minutes/2025/2025-06-26.md
Labels: meeting-minutes

Cancel 2025-06-19 meeting
  tac/meeting-minutes/2025/2025-06-26.md
Labels: meeting-minutes

Create Hyperledger Cello Q2 Report.md
  tac/project-updates/2025/Hyperledger Cello Q2 Report.md
Labels: quarterly-report

Rename Hyperledger Cello Q2 Report.md to 2025-Q2-Hyperledger-Cello.md
  tac/project-updates/2025/2025-Q2-Hyperledger-Cello.md
Labels: quarterly-report

Update tac/governing-documents/defining-adopters.md
  tac/governing-documents/defining-adopters.md
Labels: none

Fix LF/DT -> LFDT
  tac/governing-documents/defining-adopters.md
Labels: none

Address Enrique's comment and move paragraph
  tac/governing-documents/defining-adopters.md
Labels: none

Add additional example of service provider
  tac/governing-documents/defining-adopters.md
Labels: none

Add Community expectations for all projects in incubation
  tac/guidelines/project-incubation-entry-considerations.md
Labels: none

Update formatting
  tac/guidelines/project-incubation-entry-considerations.md
Labels: none
