Repository LF-Decentralized-Trust/governance, changes with the labels that .github/labeler.yml gives for each.
All labels: meeting-minutes, annual-report, quarterly-report

Add link to longfeloow-zk repo
  tac/project-updates/2025/2025-Q3-Hyperledger-AnonCreds.md
Labels: quarterly-report

Add front matter.
  tac/project-updates/2025/2025-annual-hyperledger-Cello.md
Labels: annual-report

Add front matter.
  tac/project-updates/2025/2025-annual-hyperledger-Cello.md
Labels: annual-report

fix pages
  tac/Gemfile
  tac/Gemfile.lock
Labels: none

fix pages
  tac/Gemfile
  tac/Gemfile.lock
Labels: none

Fix Pages
  .github/workflows/jekyll.yml
Labels: none

add 2025 Q2 Solang report
  tac/project-updates/2025/2025-Q2-Hyperledger-Solang.md
Labels: quarterly-report

Rearrange and remove duplication
  tac/governing-documents/defining-adopters.md
Labels: none

fix formatting
  tac/governing-documents/defining-adopters.md
Labels: none

initial version
  tac/meeting-minutes/2025/2025-08-14.md
Labels: meeting-minutes

Update publishing workflow
  .github/workflows/jekyll.yml
Labels: none

Update actions
  .github/workflows/jekyll.yml
Labels: none

Add new sections
  tac/governing-documents/defining-adopters.md
Labels: none

.github/labeler.yml:

---
meeting-minutes:
  - changed-files:
      - any-glob-to-any-file:
          - tac/meeting-minutes/**/*

annual-report:
  - changed-files:
      - any-glob-to-any-file:
          - tac/project-updates/**/*annual*.md

quarterly-report:
  - changed-files:
      - any-glob-to-any-file:
          - tac/project-updates/**/*q2*.md
          - tac/project-updates/**/*q3*.md
          - tac/project-updates/**/*q4*.md
          - tac/project-updates/**/*Q2*.md
          - tac/project-updates/**/*Q3*.md
          - tac/project-updates/**/*Q4*.md
