Repository LF-Decentralized-Trust/governance, changes with the labels that .github/labeler.yml gives for each.
All labels: meeting-minutes, annual-report, quarterly-report

.github/labeler.yml:

---
meeting-minutes:
  - changed-files:
      - any-glob-to-any-file:
          - tac/meeting-minutes/**/*

annual-report:
  - changed-files:
      - any-glob-to-any-file:
          - tac/project-updates/**/*annual*.md

quarterly-report:
  - changed-files:
      - any-glob-to-any-file:
          - tac/project-updates/**/*q2*.md
          - tac/project-updates/**/*q3*.md
          - tac/project-updates/**/*q4*.md
          - tac/project-updates/**/*Q2*.md
          - tac/project-updates/**/*Q3*.md
          - tac/project-updates/**/*Q4*.md

Initial agenda July 10, 2025
  tac/meeting-minutes/2025/2025-07-10.md
Labels: meeting-minutes

Update defining-adopters.md fixed link to Hiero Adopters.md
  tac/governing-documents/defining-adopters.md
Labels: none

Update meeting link, attendees
  tac/meeting-minutes/2025/2025-07-10.md
Labels: meeting-minutes

Initial agenda July 10, 2025
  tac/meeting-minutes/2025/2025-07-10.md
Labels: meeting-minutes

Update meeting link, attendees
  tac/meeting-minutes/2025/2025-07-10.md
Labels: meeting-minutes

WIP - Project Governance document
  tac/governing-documents/project-consistency.md
Labels: none

Q2 report for Besu
  tac/project-updates/2025/2025-Q2-Besu.md
Labels: quarterly-report

Update based on feedback from July 10 TAC meeting and GitHub comments
  tac/guidelines/project-incubation-entry-considerations.md
Labels: none

Hyperledger FireFly Q2 Report
  tac/project-updates/2025/2025-Q2-Hyperledger-FireFly.md
  tac/project-updates/2025/HLFF_2025_Q2_1.png
  tac/project-updates/2025/HLFF_2025_Q2_2.png
  tac/project-updates/2025/HLFF_2025_Q2_3.png
  tac/project-updates/2025/HLFF_2025_Q2_4.png
  tac/project-updates/2025/HLFF_2025_Q2_stars.png
Labels: quarterly-report

Remove archived project and lab
  tac/project-updates/2025/2025-schedule.md
Labels: none

initial agenda
  tac/meeting-minutes/2025/2025-07-17.md
Labels: meeting-minutes

Update tac/project-updates/2025/2025-Q2-Besu.md
  tac/project-updates/2025/2025-Q2-Besu.md
Labels: quarterly-report

Update tac/project-updates/2025/2025-annual-Besu.md
  tac/project-updates/2025/2025-annual-Besu.md
Labels: annual-report

Update tac/project-updates/2025/2025-annual-Besu.md
  tac/project-updates/2025/2025-annual-Besu.md
Labels: annual-report

2024 annual review
  tac/project-updates/2024/2024-annual-Besu.md
Labels: annual-report

Update tac/project-updates/2025/2025-annual-Besu.md
  tac/project-updates/2025/2025-annual-Besu.md
Labels: annual-report

moved 2024 annual report to 2025 folder per schedule
  tac/project-updates/2025/2025-annual-Besu.md
Labels: annual-report

Update tac/project-updates/2025/2025-annual-Besu.md
  tac/project-updates/2025/2025-annual-Besu.md
Labels: annual-report

Update formatting
  tac/guidelines/project-incubation-entry-considerations.md
Labels: none

Add Community expectations for all projects in incubation
  tac/guidelines/project-incubation-entry-considerations.md
Labels: none

Update based on feedback from July 10 TAC meeting and GitHub comments
  tac/guidelines/project-incubation-entry-considerations.md
Labels: none

docs(q3-update): draft quarterly update July 2025
  tac/project-updates/2025/2025-Q3-Hyperledger-Cacti.md
Labels: quarterly-report

Hyperledger AnonCreds 2025-Q3 Quarterly Report
  tac/project-updates/2025/2025-Q3-Hyperledger-AnonCreds.md
Labels: quarterly-report

initial agenda
  tac/meeting-minutes/2025/2025-07-17.md
Labels: meeting-minutes

Remove archived project and lab
  tac/project-updates/2025/2025-schedule.md
Labels: none

Agenda for TAC meeting on 2025 07 24
  tac/meeting-minutes/2025/2025-07-24.md
Labels: meeting-minutes

Attendees
  tac/meeting-minutes/2025/2025-07-24.md
Labels: meeting-minutes

Agenda for TAC meeting on 2025 07 24
  tac/meeting-minutes/2025/2025-07-24.md
Labels: meeting-minutes

Attendees
  tac/meeting-minutes/2025/2025-07-24.md
Labels: meeting-minutes

chore: fix label workflow
  .github/workflows/labeler.yml
Labels: none

chore: fix label workflow
  .github/workflows/labeler.yml
Labels: none

Update gems
  tac/Gemfile.lock
Labels: none

Update gems
  tac/Gemfile.lock
Labels: none

feat: add Indy Q3 Report
  tac/project-updates/2025/2025-Q3-Hyperledger-Indy.md
Labels: quarterly-report

Add meeting agent for 2025 July 31 TAC meeting
  tac/meeting-minutes/2025/2025-07-31.md
Labels: meeting-minutes

Attendance
  tac/meeting-minutes/2025/2025-07-31.md
Labels: meeting-minutes

Compact was approved
  tac/meeting-minutes/2025/2025-07-31.md
Labels: meeting-minutes

Add meeting agent for 2025 July 31 TAC meeting
  tac/meeting-minutes/2025/2025-07-31.md
Labels: meeting-minutes

Attendance
  tac/meeting-minutes/2025/2025-07-31.md
Labels: meeting-minutes

Compact was approved
  tac/meeting-minutes/2025/2025-07-31.md
Labels: meeting-minutes
