Repository LF-Decentralized-Trust/governance, pull requests merged in 2025-06, with the labels that each got.

#142 2025 Q2 Hyperledger Aries Quarterly Report
  tac/project-updates/2025/2025-Q2-Hyperledger-Aries.md
Labels: quarterly report

#159 June 5, 2025 Meeting
  tac/meeting-minutes/2025/2025-06-05.md
Labels: meeting minutes

#155 2025 Q2 Web3j Quarterly Report
  tac/project-updates/2025/2025-Q2-Web3j.md
Labels: quarterly-report

#138 CREDEBL Annual Report 2025
  tac/project-updates/2025/2025-annual-CREDEBL.md
Labels: annual-report
